body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f4f4f4;
}

.app {
  display: flex;
  height: 100vh;
  overflow: hidden;
}


.sidebar {
  position: fixed;
  top: 0;
  left: -250px;
  width: 220px;
  height: 100%;
  background-color: #19173c;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 20px;
  transition: left 0.3s ease-in-out;
}

.sidebar.open {
  left: 0;
}

.nav-button {
  background: #9e6cfc;
  border: none;
  padding: 12px 20px;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  width: 160px;
  text-align: left;
  transition: background 0.3s ease;
}

.nav-button:hover {
  background: #b186fd;
}


.hamburger {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 1000;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.hamburger div {
  width: 30px;
  height: 4px;
  background-color: #333;
  border-radius: 4px;
}


.content {
  margin-left: 0;
  padding: 80px 20px 20px 20px;
  width: 100%;
  transition: margin-left 0.3s ease;
}

.sidebar.open ~ .content {
  margin-left: 220px;
}
