
body {
  margin: 0;
  height: 100vh;
  background-color: #0d1117;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}


.calculator {
  width: 360px;
  border-radius: 8px;
  overflow: hidden;
  background-color: #0d1117;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.1);
}


.display {
  padding: 20px;
  text-align: right;
  background-color: #0d1117;
}

.result {
  font-size: 0.9rem;
  color: grey;
}

.expression {
  font-size: 1.6rem;
  color: white;
  margin-top: 4px;
}


.operators-row {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  background-color: #e91e63;
}

.operators-row button {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 1.2rem;
  padding: 16px;
  cursor: pointer;
}


.buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: #0d1117;
}

button {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 1.3rem;
  padding: 22px;
  cursor: pointer;
}

button:hover {
  background-color: #1f1f1f;
}
